@use "../../styles/variables" as variables;

.platformIndicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: variables.$platformIndicatorSize;
  height: variables.$platformIndicatorSize;
  flex-shrink: 0;
  vertical-align: middle;
}

.platformIcon {
  width: 100%;
  height: 100%;
}

.platformIndicatorTwitch {
  color: variables.$twitchPurple;
}
